h1  = "Kære #{ @recipient.first_name }"

p Du har bedt om at få oprettet et ny kodeord til Citnec Kursuscenters Optællingssystem. Brug linket nedenfor til at danne et nyt kodeord.

= link_to 'Opret nyt kodeord', edit_user_password_url(@recipient, reset_password_token: @token)

p Hvis det ikke er dig, der har bedt om at få oprettet et nyt kodeord, kan du ignorere denne mail. Kodeordet bliver kun ændret, hvis du bruger linket til det.

p Hvis du har brug for hjælp, så kontakt bogholderiet.

p Med venlig hilsen

p Citnec Kursuscenter