<%= bootstrap_form_with(model: [@course, @post], local: true) do |form| %>

  <div class="field">
    <%= form.rich_text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>