h1  = "Kære #{ @resource.first_name }"

p Du nulstiller hermed dit kodeord

= link_to 'Nulstil kodeord', edit_user_password_url(@resource, reset_password_token: @token)

p Hvis du har brug for hjælp, så kontakt bogholderiet.

p Med venlig hilsen

p Citnec Kursuscenter